<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RCTNewArchEnabled</key>
	<true/>
    
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
    
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSExceptionDomains</key>
      <dict>
        <key>trycloudflare.com</key>
        <dict>
          <key>NSIncludesSubdomains</key>
          <true/>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <true/>
        </dict>
      </dict>
    </dict>
    
    <key>CHOICELY_RN_BUNDLES_URL</key>
    <string>https://bundles.choicely.com/apps/%1$@/rn/%2$@/v/%3$@/%4$@</string>
</dict>
</plist>
